:root {
  --border: 1px solid #777;
  --highlight-color: #ddd;
}

.entreate-entry-editor__text-input {
  padding: 5px;
  min-width: 100%;
  max-width: 100%;
  min-height: 300px;
  border: var(--border);
  font-family: Courier New, Monospace;
  font-size: 16px;
}

.tag-editor {
  padding: 10px;
  border: var(--border);
}
.tag-editor__tag-list {
  display: flex;
  flex-wrap: wrap;
}
.tag-editor__tag {
  margin: 5px;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #ccc;
}

.value-input {
  padding: 10px;
  border: var(--border);
}
.value-input__label {
  margin: 0 5px;
}

.margin-box {
  margin: 5px 0;
}


.entry-list-item {
  display: flex;
  justify-content: space-between;
}
.entry-list-item:hover {
  background-color: var(--highlight-color);
}
