:root {
  --border: 1px solid #777;
  --highlight-color: #ddd;
}

.entreate-button {
  padding: .5em 1em;
  margin: 5px;
  border: 2px solid #555555;
  border-radius: .25em;
  color: #fff;
  background-color: #555555;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}
.entreate-button:hover {
  color: #555555;
  background-color: #fff;
  border: 2px solid #555555;
}

.entreate-entry-editor__text {
  border: var(--border);
}

.CodeMirror {
  height: 400px;
}

.tag-editor {
  padding: 10px;
  border: var(--border);
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
}
.tag-list__tag{
  margin: 5px;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #ccc;
}

.value-input {
  padding: 10px;
  border: var(--border);
}
.value-input__label {
  margin: 0 5px;
}
.value-input__text {
  padding: 5px;
  width: 100%;
}

.margin-box {
  margin: 5px 0;
}


.entry-list-item {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-bottom: 1px solid #000;
}
.entry-list-item:hover {
  background-color: var(--highlight-color);
}
.entry-list__top-row {
  display: flex;
  justify-content: space-between;
}
.entry-list__bottom-row {
  display: flex;
  justify-content: space-between;
}

.option-input {
  display: flex;
  padding: 10px;
  border: var(--border);
}
.option-input__label {
  margin: 5px;
}
